nav ul a:hover{
  opacity: 0.50;
  box-shadow: 5px 20px 5px rgba(0, 0, 0, 0.90);

}
nav ul a:active{
  opacity: 0.32%;
}

.home{ background-color: grey;
  cursor: pointer;
  color:burlywood;
  height: 30px;
  width: 100px;
  border-width: 1px;
  
}
.about{background-color: grey;
  cursor: pointer;
  color:burlywood ;
  height: 30px;
  width: 100px;
  border-width: 1px;
}
.contact{cursor: pointer;
  color:burlywood ;
  background-color: grey;
  height: 30px;
  width: 100px;
  border-width: 1px;
}

body{
  
  font-family: sans-serif

  
}