nav{
  padding: 10px;
  text-align: center;

}
.home{background-color: grey;
  cursor: pointer;
  color:burlywood;
  background-color:;

}
.about{background-color: grey;
  cursor: pointer;
  color:burlywood ;
}
.contact{cursor: pointer;
  color:burlywood ;
  background-color: grey;
}
body{
  font-family: Arial, sans-serif;
  margin: 0%;
  padding:0%;
}